## 1. Introduction
Medical advancements have made great strides in the last century. With the new understanding of materials science, implantable medical devices have become so popular that many people depend on them to live their lives.

The U.S. Food & Drug Administration (FDA) agency protects the public health by assuring these devices' safety, efficacy, and security. However, several patients have reported harmful effects caused by implantable medical devices in the last few years. According to data from the FDA, medical devices have been linked to more than 80,000 deaths and 1.7 million injuries in the last decade.

The United States holds the world's most significant medical device market, with sales making up 40% of worldwide revenue. Roughly 32 million Americans, about 10 percent, have an implanted medical device in them.

## 2. Methodology
This project analyzes a dataset from the American Database for Medical Implant Transparency (ADMIT). With over 300k records of imaplable devices, this data set contains information about the type of device, classification, recalls, injuries or deaths caused, among other data. 

This analysis aims to answer these questions:

- What are the medical industries with the most implantable medical devices produced?

- What companies produce the most devices?
    - What medical industry do they target?
    
    
- What is the medical industry that accounts for the most adverse events reported?
    - What companies have the most recalls?
    
    
- How does the FDA classify these devices?
    - How does that affect aproval?
    
       
- Is there a correlation between clinical trial and total adverse events reported?

## 3. Analysis

In [3]:
#import libs
import pandas as pd
import numpy as np

In [90]:
#read data set
df=pd.read_excel('ADMIT.xlsx')

In [113]:
# subset data set by complelling features
df1 = df[['company_name','brand_name','model_number','med_specialty','premarket_submissions_number', \
          'device_class','recall','malfunction','injury','death','totalAE','has_clinicalTrial']].copy()
# Names have a mix of upper and lower cases. Chnage all names to lower case before analysis
df1['company_name'] = df1['company_name'].str.lower()
df1.head()

,company_name,brand_name,model_number,med_specialty,premarket_submissions_number,device_class,recall,malfunction,injury,death,totalAE,has_clinicalTrial
0,"alphatec spine, inc.",IdentiTi,122-11122505-S,Orthopedic,K183705,2,0,0,0,0,0,N
1,"alphatec spine, inc.",IdentiTi,121-10092215,Orthopedic,K183705,2,0,0,1,0,1,N
2,"encore medical, l.p.",DJO SURGICAL,801-05-735,Orthopedic,K170573,2,70,2980,494,19,513,N
3,"life spine, inc.",Solstice Occipito-Cervico-Thoracic System,9235-16,Orthopedic,K090343,2,264,3102,1563,344,1907,N
4,engage uni llc,Engage Partial Knee System,1-50040-003,Orthopedic,K190439,2,628,34533,9604,92,9696,N

- What are the medical industries with the most implantable medical devices produced?
    - What percentage of the adverse effects reported do they represent?

In [190]:
sum(df1['totalAE'])
df2=df1.groupby('med_specialty').agg(device_count = ('model_number','count'), AE_per_specialty = ('totalAE','sum')).sort_values('device_count', ascending=False)
df2['percentage'] = 100*df2['AE_per_specialty']/sum(df1['totalAE'])
df2

                           device_count  AE_per_specialty  percentage
med_specialty
Orthopedic                       318264         113071001   99.486565
General, Plastic Surgery           1130            121636    0.107023
Cardiovascular                      428            310905    0.273553
Gastroenterology, Urology            78              1928    0.001696
Obstetrics/Gynecology                28            148478    0.130640
Unknown                              20               595    0.000524

- What companies produce the most devices?
    - What medical industry do they target?

In [138]:
df1.groupby(['company_name','med_specialty']).agg({'model_number':'count'})\
                                             .sort_values('model_number', ascending=False)

                                                                 model_number
company_name                           med_specialty
nuvasive, inc.                         Orthopedic                       24737
gbs commonwealth co.,ltd.              Orthopedic                       24616
medtronic sofamor danek, inc.          Orthopedic                       19318
globus medical, inc.                   Orthopedic                       17850
biomet orthopedics, llc                Orthopedic                       12213
...                                                                       ...
herniamesh srl                         General, Plastic Surgery             1
richard wolf medical instruments corp. Obstetrics/Gynecology                1
biomet spine llc                       Orthopedic                           1
advanced orthopaedic solutions, inc.   Orthopedic                           1
pop medical solutions ltd              Obstetrics/Gynecology                1

[229 rows x 1 columns]

- What is the medical industry that accounts for the most adverse events reported?
    - What companies have the most recalls?

In [112]:
df1.groupby('company_name').agg({'model_number':'count','recall': 'sum','malfunction':'sum',\
                                 'injury':'sum','death':'sum','totalAE':'sum'})\
                           .sort_values('recall', ascending=False)

,model_number,recall,malfunction,injury,death,totalAE
company_name,,,,,,
"life spine, inc.",4348,392512,14216607,2949146,216088,3165234
"bk meditech co.,ltd.",3114,391738,19281188,4832406,250928,5083334
"nexxt spine, llc",1672,354437,34344856,4156891,200312,4357203
signature orthopaedics pty ltd,2598,328793,5114073,4171897,210270,4382167
"pioneer surgical technology, inc.",2396,305830,42349341,8073379,254757,8328136
...,...,...,...,...,...,...
g21 srl,2,0,0,0,0,0
"onkos surgical, inc.",158,0,40,307,29,336
"nvision biomedical technologies, inc.",454,0,0,0,15,15
"nuvasive, inc.",24737,0,233,51,0,51
acumed llc,111,0,56,280,0,280

In [ ]:
df['company_name'].value_counts()

## 4. Summary

## 5. Future Work